piqueras <laure.piqueras@univ-lyon1.fr>
Raphael Bacher <raphael.bacher@univ-grenoble-alpes.fr> Raphael Bacher <bacher.raphael@gmail.com>
Raphael Bacher <raphael.bacher@univ-grenoble-alpes.fr> rbacher <bacher.raphael@gmail.com>
Roland Bacon <roland.bacon@univ-lyon1.fr> Roland bacon <roland.bacon@univ-lyon1.fr>
Simon Conseil <simon.conseil@univ-lyon1.fr> <contact@saimon.org>
